<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.Partial("_MenuSuperior")
    <div class="container">
        <main class="col-sm-8">
            @RenderBody()
        </main>
        <aside class="col-sm-4">
            <h3>Acesso Rápido</h3>
            <ul>
                <li>@Html.ActionLink("Movimentações por Usuario", "MovimentacoesPorUsuario", "Movimentacao")</li>
                <li>@Html.ActionLink("Busca de Movimentações", "Busca", "Movimentacao")</li>
            </ul>
        </aside>
    </div>
</body>
</html>