@model Financas.Models.MovimentacoesPorUsuarioModel

@using (Html.BeginForm("MovimentacoesPorUsuario", "Movimentacao", FormMethod.Get))
{
    @Html.LabelFor(m => m.UsuarioId, "Usuario")
    @Html.DropDownListFor(m => m.UsuarioId,
        new SelectList(Model.Usuarios, "Id", "Nome"),
        "Escolha um Usuario")

    <input type="submit" value="Buscar"/>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>usuario</th>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Movimentacoes)
        {
            <tr>
                <td>@m.Usuario.Nome</td>
                <td>@m.Tipo</td>
                <td>@m.Valor</td>
            </tr>
        }
    </tbody>
</table>